.buy-movie-ticket-nav {
    background-color: #333545;
    height: 9em;
}

.movie-ticket-nav {
    max-width: 1240px;
    margin: auto;
    padding-top: 2em;
}

.movie-ticket-nav h1 {
    color: white;
    font-weight: 370;
    font-size: 2.6em;
}

.movies-type-wrap {
    flex-wrap: wrap;
    color: grey;
    margin-top: 0.5em;
    font-size: 0.8em;
}

.movies-type-wrap span {
    margin: 0.4em;
    padding: 0 0.6em;
    border: 1px solid grey;
    border-radius: 1em;
}

.cinema-filter-wrap {
    height: 4em;
}

.current-movie-cinemas {
    background-color: #F2F2F2;
}

.current-movie-cinemas-container {
    background-color: white;
    max-width: 1240px;
    margin: 2em auto;
    padding: 2em;
    padding-bottom: 3em;
    gap: 3em;
}

.current-movie-bottom-text {
    max-width: 1240px;
    margin: auto;
    font-size: 0.7em;
    padding: 2em 0;
}

.current-movie-bottom-text h6{
    padding: 1em 0;
    font-size: 1.1em;
}