.cinemas {
    gap: 3em;
}

.cinemas h6 {
    width: 20em;
}

.heart-icon {
    width: 1.2em;
    height: 1.2em;
}

.cinemas-info {
    font-size: 0.8em;
} 

.cinemas-info span {
    border: 1px solid black;
    padding: 0 0.4em;
    border-radius: 50%;
}

.movie-time-container {
    gap: 1em;
    flex-wrap: wrap;
}

.time-container {
    text-align: center;
    padding: 0.6em;
    width: 8em;
    border: 1px solid black;
    color: green;
    font-size: 0.9em;
    border-radius: 0.2em;
    cursor: pointer;
}