.all-movies {
    background-color: #F5F5F5;
}

.all-movies-contain {
    max-width: 1240px;
    margin: auto;
    /* text-align: ; */
}

.filters {
    flex: 1;
}

.events {
    flex: 5;
}

.events-container {
    gap: 2em;
}

.card-img-top {
    border-radius: 0.8em;
}