.booking-summary {
    background-color: #F2F2F2;
}

.booking-container {
    margin: 1em;
    padding: 1em 2em;
    font-size: 1.5em;
    border: 1px solid lightgray;
    width: 22em;
    height: 28em;
    position: relative;
}


.booking-container span {
    font-size: 0.85em;
}

.title {
    letter-spacing: 0.1em;
    padding: 1em 0;
    color: #F84464;
    font-size: 1.2em;
}

.booking-container p {
    padding: 0 0.8em;
    font-size: 0.7em;
}

.seat {
    font-size: 0.8em;
    flex-wrap: wrap;
}

.booking-container h5 {
    width: 6em;
    text-align: end;
}

.ticket-container {
    flex-wrap: wrap;
}

.ticket-container-border {
    border-bottom: 1px solid lightgrey;
    margin-top: 2em;
    margin-bottom: 1em;
}

.circle-left,
.circle-right {
    display: inline-block;
    position: absolute;
    top: 16em;
    z-index: 1;
    width: 1.8em;
    height: 1.8em;
    background: #f2f2f2;
    border-radius: 50%;
}

.circle-left {
    left: -1em;
    box-shadow: inset -1px 0 0 #dfe3e7;
}

.circle-right {
    right: -1em;
    box-shadow: inset 1px 0 0 #dfe3e7;
}

.bottom-payable {
    font-weight: 500;
    position: absolute;
    background-color: #FFFCDC;
    padding: 0.5em 1.2em;
    /* width: 100%; */
    bottom: 0;
    right: 0;
    left: 0;
}

.contribution-container {
    background-color: #F5F5F5;
}

.contribution-container p {
    font-size: 0.5em;
    margin: 0.5em 0;
    margin-top: 1em;
}

.contribution-container span {
    font-size: 0.5em;
    margin: 0 1em;
    padding: 0.5em 0;
    border-bottom: 1px dashed black;
    cursor: pointer;
}

.left-contribution-container {
    width: 1em;
}

.mid-contribution-container {
    width: 9em;
}

.right-contribution-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-contribution-container p {
    font-size: 0.6em;
    color: #F84464;
    margin-top: 1em;
    padding: 0;
    text-align: right;
    cursor: pointer;
}

.bottom-payment-container {
    margin-top: 3.5em;
    gap: 0.5em;
    font-size: 0.9em;
    width: 37em;
}

.bottom-payment-container .info {
    font-size: 0.7em;
    border: 1px solid black;
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-button {
    margin: 0.5em 0;
    width: 25.5em;
    background-color: #F84464;
    padding: 0.5em 0.8em;
    font-size: 1.3em;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
}

.payment-button:hover {
    background-color: white;
    border: 1px solid #F84464;
    color: #F84464;
}

.home-button {
    margin: 0.5em 0;
    width: 15em;
    background-color: #F84464;
    padding: 0.5em 0.8em;
    font-size: 1.3em;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
}

.home-button:focus {
    outline: 0;
}

.home-button:hover {
    background-color: white;
    border: 1px solid #F84464;
    color: #F84464;
}