.back-image-contain {
    background-color: #1a1a1a;
}

.back-image-wrap {
    min-height: 480px;
    width: 92%;
    padding: 32px 0px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: right center;
    /* background-color: #1a1a1a; */
    position: relative;
    margin: 0px auto;
}

.movie-book-contain {
    flex-grow: 1;
    max-width: 1240px;
    margin: 0px auto;
    position: relative;
}

.movie-image-contain {
    width: 261px;
    height: 416px;
    overflow: hidden;
    flex-shrink: 0;
    /* background-image: linear-gradient(90deg, #1A1A1A 24.97%, #1A1A1A 38.3%, rgba(26, 26, 26, 0.0409746) 97.47%, #1A1A1A 100%), url(https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/kisi-ka-bhai-kisi-ki-jaan-et00339118-1681730385.jpg); */
}

.movie-details-contain {
    flex-grow: 1;
    padding-left: 32px;
    max-width: 520px;
}

.share-button {
    height: 48px;
    width: 122px;
    background-color: rgba(34, 34, 34, 0.8);
    opacity: 0.8;
    padding: 0px 16px;
    cursor: pointer;
    border-radius: 4px;
}