.carousel-style {
    max-width: 1240px;
    margin: auto;
    text-align: center;
    margin-top: 2em;
}

.head{
    font-weight: 600;
}

.see-all {
    color: #DF3B76;
}

.card {
    border: none;
    /* padding:0 1em; */
}

.movie-card h6{
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.movie-card h6, .movie-card p {
    font-size: 1em;
    text-align: left;
}

.movies-contain {
    gap: 2em;
}

.carousel-control-prev {
    width: 0;
    height: 0;
}

.carousel-control-next {
    width: 0;
    height: 0;
}

.arrowTop {
    top: 10em;
}

.movie-card {
    background-color: #F5F5F5;
}