.signin-contain span:hover {
    color: black
}

#signin-continue {
    background-color: #F84464;
    width: 80%;
    margin-top: 3.8em;
    color: white;
    height: 3em;
    border-radius: 0.6em;
}

.input-contain {
    width: 80%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.input-contain button:hover {
    border-bottom: 1px solid #F84464;
}