.premiere {
    background-color: #2B3149;
    width: 100%;
    margin-top: 4em;
    padding-top: 1em;
}

.premiere-image {
    margin: 0px auto;
    width: 92vw;
    max-width: 1240px;
}

.premiere-image img {
    width: 100%;
}